:root {
  --spectrum-gradient: linear-gradient(
    45deg,
    #80cae9,   /* blue */
    #3f6d87,   /* violet */
    #fc3946    /* red */
  );
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 24px;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.98);
    height: 60px;
    justify-content: space-between;
    display: flex;
    padding-right: 50px;
    padding-left: 36px;
}    


.navbar #logo img{
    max-height: 65px;
}


.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    
    
}
.buttons a{
    text-decoration: none;
    color: #153243;  
    width: 80px;
    text-align: center;
    border-radius: 10px;    
}
.btn{
    display: inline-flex;
    font-family: "poppins";
    font-size: 15px;    
}

.buttons a:hover{
    background-color: #153243;
    color: white;
    
}

h2{
    font-family: "poppins";
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
#hero {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
    background: white;
    margin-top: 40px;
}

#hero img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 25px;

}

#hero #hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    white-space: nowrap;

    font-family: "quicksand";
    font-size: 30px;
    color: white;
    z-index: 3;
    text-shadow:
        0 10px 10px rgba(0,0,0,0.6),
        0 10px 20px rgba(0, 0, 0, 0.4);
}

#about{
    width: 100%;
    max-width: 100%;
    padding: 40px 0;
    text-align: center;
}

.intro p {
    max-width: 900px;
    margin: 0 auto;    
    padding: 0 24px;
    font-size: 20px;
    font-family: "quicksand";
}

#misvis{
    max-width: 1280px;     
    margin: 0 auto;        
    padding: 40px 24px 0;  
}

.mv{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    gap: 48px;
}

.mv .mission-card{
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 25px;
    border: 3px solid transparent;
    background:
    linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(45deg, #000000, #000000) border-box;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.40);
}

.mv #mission{
    font-family: "poppins";
    font-size: 30px;
    font-weight: bold;
}

.mv #mission-statement{
    font-family: "quicksand";
    font-size: 20px;
}

.mv .vision-card{
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 25px;
    border: 3px solid transparent;
    background:
    linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(45deg, #000000, #000000 ) border-box;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.40);
}

.mv #vision{
    font-family: "poppins";
    font-size: 30px;
    font-weight: bold;
}

.mv #vision-statement{
    font-family: "quicksand";
    font-size: 20px;
}

#services{
    padding: 50px;
    margin: 0 auto;       
    max-width: 850px;      
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15fr 1fr 15fr 1fr 15fr;
    gap: 0;
    background-color: black;
    border-radius: 25px;
    padding: 24px;
    min-height: 350px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.container a{
    text-decoration: none;
}
    
.card1{
    grid-area: 1 / 1 / 2 / 2;
    border-style: solid; 
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.35);
    z-index: 1; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card1:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 10px rgb(128, 202, 233, 0.55);

    
}
.card2{
    grid-area: 3 / 1 / 4 / 2;
    border-style: solid; 
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.35);
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.card2:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 10px rgb(63, 109, 135, 0.55);
}

.card3{
    grid-area: 5 / 1 / 6 / 2;
    border-style: solid; 
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.35);
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card3:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 10px rgba(226, 83, 93, 0.55);
}

.service-title {
  background: var(--spectrum-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  color: #ffffff;
}

#title1{
    text-align: center;
    font-family: "poppins";
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
    background-size: 300% 100%;
    background-position: 0% 50%;

}

#title2{
    text-align: center;
    font-size: 30px;
    font-family: "poppins";
    font-weight: bold;
    margin: 20px;
    background-size: 300% 100%;
    background-position: 50% 50%;
}

#title3{
    text-align: center;
    font-size: 30px;
    font-family: "poppins";
    font-weight: bold;
    margin: 20px;
    background-size: 300% 100%;
    background-position: 100% 50%;

}

#def1{
    text-align: center;
    font-family: "quicksand";
    font-size: 18px;
    margin: 20px;
    padding-bottom: 10px;
    color: rgb(171, 186, 196);
}

#def2{
    text-align: center;
    font-family: "quicksand";
    font-size: 18px;
    margin: 20px;
    color: rgb(171, 186, 196);
}

#def3{
    text-align: center;
    font-family: "quicksand";
    font-size: 18px;
    margin: 20px;
    color: rgb(171, 186, 196);

}

.container2{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 70px;
}

.container2 .icon{
    max-width: 200px;
    border-radius: 100px;
    border: 1px solid rgba(15, 190, 238, 0.55)
}
.container2 #img1{
    box-shadow: 0 0 25px rgba(0, 210, 255, 0.2);
}
.container2 #img1:hover{
    box-shadow: 0 0 35px rgba(0, 210, 255, 0.6);
}
.container2 #img2{
    box-shadow: 0 0 25px rgba(26, 62, 130, 0.4);
}
.container2 #img2:hover{
    box-shadow: 0 0 35px rgba(26, 62, 130, 0.8);
}
.container2 #img3{
    box-shadow: 0 0 25px rgba(255, 75, 92, 0.2);
}
.container2 #img3:hover{
    box-shadow: 0 0 35px rgba(255, 75, 92, 0.6);
}
.detectives{
    background-color: #153243;
    max-width: 500px;
}

.container2 .detectives .eng-name{
    font-family: "Comfortaa";
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    color: #ffffff;
}
.container2 .detectives .jp-name{
    font-size: 17px;
    color: #ffffff;
    margin-top: 0;
}

.container2 .detectives .desc{
    font-family: "quicksand";
    font-size: 15px;
    margin: 13px;
    color: rgb(171, 186, 196);
}


.container2 .detectives:hover{
    transform: translateY(-5px);
    
}
#img3{
    transform: scaleX(-1);
}

.container2 #card1{
   
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 25px;
    border: 2px solid transparent;
    background: 
        linear-gradient(#080f1d, #080f1d) padding-box,
        linear-gradient(135deg, #2a2a2a, #4a4a4a) border-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
    

.container2 #card2{
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 25px;
    border: 2px solid transparent;
    background: 
        linear-gradient(#080f1d, #080f1d) padding-box,
        linear-gradient(135deg, #2a2a2a, #4a4a4a) border-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container2 #card3{
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 25px;
    border: 2px solid transparent;
    background: 
        linear-gradient(#080f1d, #080f1d) padding-box,
        linear-gradient(135deg, #2a2a2a, #4a4a4a) border-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
footer{
    font-size: 13px;
    font-family: "poppins";
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.address p{
    text-align: center;
    
}
.address #line1{
    margin-bottom: 0;
    margin-top: 40px; 
}
.address #line2{
    margin-bottom: 0;
    margin-top: 0; 
}
footer .socials{
    text-align: center;
}
footer hr{
    margin-bottom: 0;
    color: #4a4a4a;
}
footer .socials img{
    max-width: 25px;
    
}
footer .bottom{
    font-size: 12px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

